$primary-color: #3498db;
$emoji-color:#bdcf47;
$background-color-elt:#ffffffbd;


html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.cont {
  background-image: url(../assets/marches.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
  .rewardfin{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      text-decoration:none;
      animation: gradient 7s ease infinite;
    }
    a:hover{
      animation: gradient 2s ease infinite;
    }
    
  }
}

.mainbackground {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color-elt;
  border-radius: 25px;
  padding: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.decoration {
  margin-top: 5%;
  margin-bottom: 5%;
}

.plotimage {
  margin-top: -8%;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 500%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  from, to { color: #E40303;}
  20%      { color: #FF8C00;}
  40%      { color: #FFED00; }
  60%      { color: #008026; }
  80%      { color: #004CFF;  }
  90%      { color: #732982; }
}

.level{
  // background-color: #ffffff;
  background-image: url(../assets/berth.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  padding-bottom: 5%;
  margin-top: -8%;
  padding-top: 3%;
  align-items: center;
  justify-content: center;
  .mainbackground{
    margin: 3%;
    align-items: unset;
  }
  .colorlevel{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin: 2%;
    position: relative;
    .percent{
      text-align: center;
      font-size: 400%;
      font-weight: bolder;
    }
    .levelimage{
      display: block;
      width: 100%;
    }
    .mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; 
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8); /* White mask with transparency */
      transition: width 0.5s ease; /* Smooth transition */
    }
  }
  .evolutionlevel{
    display: flex;
    margin: 2%;
    font-size: x-large;
    .bar{
      border: 1px solid $emoji-color;
      border-radius: 1%;
      margin-right: 2%;
      li{
        width: 10px;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin: 0;
      padding: 0;
      // margin-top: 3%;
      list-style: none;
    }
    li {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      // border: 1px solid #ccc;
    }
    .reach{
      background-color: $emoji-color;
    }
    .unreach{
      background-color: #f2ff9e;
    }
    .reward{
      align-items: flex-start;
      li{
        margin-left: 2%;
        white-space: nowrap;
      }
    }
  }
}

.challenge {
  background-image: url(../assets/lama.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  padding-bottom: 5%;
  margin-top: -8%;
  padding-top: 3%;
  align-items: center;
  justify-content: center;

  .mainbackground {
    display: flex;
    flex-direction: column;
    margin: 3%;

    .MuiFormGroup-root {
      display: flex;
      flex-wrap: wrap; // Permet le retour à la ligne
      gap: 10px;
      flex-direction: row;

      .lielt {
        flex-basis: calc(30% - 5px); // Ajustement pour deux colonnes
        box-sizing: border-box;
        margin-bottom: 10px; // Ajouter une marge en bas pour assurer le retour à la ligne
      }
    }
  }

  .yes {
    color: gray;
    text-decoration: line-through;
  }
}